@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply [--max-h:calc(var(--max-w)/1.778)] [--max-w:theme(screens.2xl)];

    --root-main: var(--main);
    --root-active: var(--active);
    --root-content: var(--content);
    --root-muted: var(--muted);

    --root-inverted: var(--inverted);
    --root-inverted-a: var(--inverted-a);
    --root-inverted-c: var(--inverted-c);
    --root-inverted-m: var(--inverted-m);

    --root-primary: var(--primary);
    --root-primary-a: var(--primary-a);
    --root-primary-c: var(--primary-c);
    --root-primary-m: var(--primary-m);

    --root-secondary: var(--secondary);
    --root-secondary-a: var(--secondary-a);
    --root-secondary-c: var(--secondary-c);
    --root-secondary-m: var(--secondary-m);

    --root-accent: var(--accent);
    --root-accent-a: var(--accent-a);
    --root-accent-c: var(--accent-c);
    --root-accent-m: var(--accent-m);

    --root-info: var(--info);
    --root-info-a: var(--info-a);
    --root-info-c: var(--info-c);
    --root-info-m: var(--info-m);

    --root-success: var(--success);
    --root-success-a: var(--success-a);
    --root-success-c: var(--success-c);
    --root-success-m: var(--success-m);

    --root-warning: var(--warning);
    --root-warning-a: var(--warning-a);
    --root-warning-c: var(--warning-c);
    --root-warning-m: var(--warning-m);

    --root-danger: var(--danger);
    --root-danger-a: var(--danger-a);
    --root-danger-c: var(--danger-c);
    --root-danger-m: var(--danger-m);

    --radius-xs: calc(var(--radius-xs) / 1.618);
    --radius-xs: calc(var(--radius-sm) / 1.618);
    --radius-sm: calc(var(--radius-md) / 1.618);
    --radius-md: calc(var(--radius-lg) / 1.618);
    --radius-lg: 1rem;
    --radius-xl: calc(var(--radius-lg) * 1.618);
    --radius-2xl: calc(var(--radius-xl) * 1.618);

    --spacing-2xs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: calc(var(--spacing-md) / 1.618);
    --spacing-md: clamp(1rem, 0.5rem + 2.6667vmax, 1.5rem);
    --spacing-lg: calc(var(--spacing-md) * 1.618);
    --spacing-xl: calc(var(--spacing-lg) * 1.618);
    --spacing-2xl: calc(var(--spacing-xl) * 1.618);
  }

  .light {
    --main: 245 60% 96%;
    --active: 245 58% 92%;
    --content: 245 50% 4%;
    --muted: 245 55% 94%;

    --inverted: 245 47% 3%;
    --inverted-a: 245 45% 7%;
    --inverted-c: 245 37% 97%;
    --inverted-m: 245 42% 5%;

    --primary: 245 75% 45%;
    --primary-a: 245 73% 49%;
    --primary-c: 245 65% 95%;
    --primary-m: 245 70% 46%;

    --secondary: 245 86% 67%;
    --secondary-a: 245 84% 63%;
    --secondary-c: 245 76% 5%;
    --secondary-m: 245 81% 65%;

    --accent: 245 72% 28%;
    --accent-a: 245 70% 32%;
    --accent-c: 245 62% 95%;
    --accent-m: 245 67% 29%;

    --info: 199 77% 54%;
    --info-a: 199 75% 58%;
    --info-c: 199 67% 95%;
    --info-m: 199 72% 56%;

    --success: 120 49% 44%;
    --success-a: 120 47% 48%;
    --success-c: 120 39% 95%;
    --success-m: 120 44% 45%;

    --warning: 48 79% 47%;
    --warning-a: 48 77% 51%;
    --warning-c: 48 69% 95%;
    --warning-m: 48 74% 48%;

    --danger: 354 70% 53%;
    --danger-a: 354 68% 57%;
    --danger-c: 354 60% 95%;
    --danger-m: 354 65% 54%;

    --border-opacity: 0.1;
  }

  .dark {
    --main: 245 47% 3%;
    --active: 245 45% 7%;
    --content: 245 37% 97%;
    --muted: 245 42% 5%;

    --inverted: 245 60% 96%;
    --inverted-a: 245 58% 92%;
    --inverted-c: 245 50% 4%;
    --inverted-m: 245 55% 94%;

    --primary: 245 66% 50%;
    --primary-a: 245 64% 54%;
    --primary-c: 245 56% 95%;
    --primary-m: 245 61% 52%;

    --secondary: 245 72% 72%;
    --secondary-a: 245 70% 68%;
    --secondary-c: 245 62% 5%;
    --secondary-m: 245 67% 70%;

    --accent: 245 75% 58%;
    --accent-a: 245 73% 62%;
    --accent-c: 245 65% 95%;
    --accent-m: 245 70% 60%;

    --info: 199 77% 54%;
    --info-a: 199 75 58%;
    --info-c: 199 67% 95%;
    --info-m: 199 72% 56%;

    --success: 120 49% 44%;
    --success-a: 120 47% 48%;
    --success-c: 120 39% 95%;
    --success-m: 120 44% 46%;

    --warning: 48 79% 47%;
    --warning-a: 48 77% 51%;
    --warning-c: 48 69% 95%;
    --warning-m: 48 74% 49%;

    --danger: 354 80% 57%;
    --danger-a: 354 78% 61%;
    --danger-c: 354 70% 95%;
    --danger-m: 354 75% 59%;

    --border-opacity: 0.05;
  }

  .animate-reset {
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }

  .animate-active {
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  * {
    @apply outline-0 outline-offset-2;
  }

  :focus-visible {
    @apply outline;
  }

  :where(h1, h2, h3, h4, h5, h6, p, button) {
    @apply w-fit;
  }

  :where(span, a, small, label) {
    @apply inline-block;
  }
}
